body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(37, 37, 37);
  color: white;
  margin: 0px;
  padding: 0px;
}

h1,
h2 {
  background-color: aquamarine;
  color: rgb(255, 0, 230);
  font-size: 50px;
  text-align: center;
  padding: 10px;
  margin: 30px;
}

h2 {
  font-size: 26px;
}

ul,
ol {
  font-size: 18px;
  margin: 30px;
}

p {
  font-size: 20px;
  margin: 30px;
}

img {
  width: auto;
  height: 400px;
}

.recipe {
  color: aqua;
  background-color: beige;
  font-size: 24px;
  text-align: center;
  padding: 1em;
  margin: 10px 30%;
}
